@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,900&family=Roboto:wght@300&display=swap');

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  background-color: #333333;
  color: #333;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 1rem 1rem #335
}

header img {
  border-radius: 20rem;
  border: #ccc 4px solid;
  height: 8rem;
  width: 15rem;
}

h1{
  font-family: 'Raleway', sans-serif;
  font-size: 7rem;
}

 header nav ul button {
  background-color: transparent ;
  color:  #333;
  font-size: 2rem;
  border:none
} 


h2 {
  padding: 3rem;
  align-items: center;
  text-align: center;
  font-size: 8rem;
  font-family: 'Raleway', sans-serif;
}

#infosomos {
  display: flex;
  padding: 5rem;
  align-items: center;
}

#infosomos p {
  padding-right: 5rem;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 1cm
}

#infosomos img{
  height: 40rem;
}


/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 1rem;
  background-color: #FFFFFF;
}

/* Estilos del encabezado */

header h1 {
  margin: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

/* Estilos de la lista de productos */
.product-list {
  width: 100%;
  margin: 20px;
}




/* Estilos del pie de página */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
}

.display1{
  display:block
}

.display2{
  display: none;
}

/* botones */


#btnProducto,#btnInicio {
  padding: 0.6em 1em;
  border: 4px solid #fa725a;
  transition: ease-in-out 0.3s;
  background-color: transparent;
  color: #fa725a;
  font-weight: bolder;
  font-size: 2rem;
  border-radius: 50%;
 }

#btnProducto{
  margin-left: 1rem;
}
 
#btnInicio{
  margin-left: 1rem;
}

#btnProducto:hover,#btnInicio:hover {
  transform: scale(1.2) rotate(10deg);
  background-color: #fa725a;
  color: white;
 }

/* cartas */

.card {
  width: 300px;
  height: 200px;
  perspective: 1000px;
  margin: 10rem;
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.999s;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  /* ---------------------------------------position:absolute; ESTE JODE */
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-front {
  background-color: #6A2C70;
  color: #fff;
  display: flex;
  align-items: center;
  border: 10px solid #6A2C70;
  border-radius: 10px;
  justify-content: center;
  font-size: 24px;
  transform: rotateY(0deg);
}

.card-back {
  background-color: #F08A5D;
  color: #fff;
  display: flex;
  align-items: center;
  border: 10px solid #F08A5D;
  border-radius: 10px;
  justify-content: center;
  font-size: 24px;
  transform: rotateY(180deg);
}

img{
  width: 10rem;
  height: 10rem;
}
