@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,900&family=Roboto:wght@300&display=swap');

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 1rem 1rem #335;
  padding: 1rem;
  background-color: #C2C0BE;
}

header img {
  border-radius: 50rem;
  border: #3d3d3d 4px solid;
  height: 8rem;
  width: 15rem;
  margin-left: 2rem;
}

header nav ul button {
  background-color: transparent;
  color: #333;
  font-size: 2rem;
  border: none
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* botones nav*/
#btnProducto,
#btnInicio {
  padding: 0.6em 1em;
  border: 4px solid red;
  transition: ease-in-out 0.3s;
  background-color: transparent;
  font-weight: bolder;
  font-size: 2rem;
  border-radius: 50%;
}


#btnProducto
{
  margin-right: 2rem;
  margin-left: 1rem;
}

#btnProducto:hover,
#btnInicio:hover {
  transform: scale(1.2) rotate(10deg);
  background-color:#C2C0BE;
  color: red
}



#quienes-somos div{
display: flex;
flex-direction: row-reverse;  
padding: 5rem;
}


#infosomos {
  display: flex;
  flex-direction: column;
 padding-right: 5rem;
 justify-content: center;
}

article h1, article h2{
  font-family: 'Raleway', sans-serif;
  font-style: italic;
  font-weight: 900;
  font-size:5rem;
  margin-bottom: 2.3rem;
  box-shadow: 0px 2px 0rem red
}

#infosomos p {
  padding-right: 5rem;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 1cm;
}

#infosomos img {
  height: 100%;
}

/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: darkgray;
  
}


/* Estilos del pie de página */
footer {
  background-color: #ac30e1;
  color: #181c9e;
  text-align: center;
  padding: 10px;
  margin: 10px;
  font-size: 2rem;
  background-color: rgba(189, 168, 83, 0.7);
  position: relative;
}


.display1 {
  display: block
}

.display2 {
  display: none;
}

.displayFlex{
  display: flex;
}


/* cartas */

.tamañoDeCartas {
  width: 15rem;
  height: 22rem;
  margin-top: 3rem;
  margin-right: 2rem;
}

.tamañoDeCartas .divImagen img{
  object-fit: contain;
  width: 12rem;
  height: 18rem;
}

.fondoCard1 {
  
  border: #3d3d3d 2px solid;
  box-shadow: 1rem 1rem;
  padding-bottom: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}


.Btn {
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: .4s;
  cursor: pointer;
  position: relative;
  background: whitesmoke;
  background: linear-gradient(45deg, #f03333 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
  overflow: hidden;
}

.svgIcon {
  transition-duration: .3s;
}

.svgIcon path {
  fill: white;
}

.text {
  position: absolute;
  color: rgb(255, 255, 255);
  width: 120px;
  font-weight: 600;
  opacity: 0;
  transition-duration: .4s;
}

.Btn:hover {
  width: 110px;
  transition-duration: .4s;
  border-radius: 30px;
}

.Btn:hover .text {
  opacity: 1;
  transition-duration: .4s;
}

.Btn:hover .svgIcon {
  opacity: 0;
  transition-duration: .3s;
}

.svgIconWsp {

  color: rgb(81, 247, 69);
  fill: currentColor;
}

.svgIconWsp {
  transition-duration: .3s;
}

.svgIconWsp path {
  fill: white;
}

.BtnWsp:hover .svgIconWsp {
  opacity: 0;
  transition-duration: .3s;
}

.BtnWsp {
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: .4s;
  cursor: pointer;
  position: relative;
  background: rgba(255,255,255,1);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(14,249,33,1) 95%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(255,255,255,1)', endColorstr='rgba(14,249,33,1) ', GradientType=1);
  overflow: hidden;
}
.BtnWsp:hover .text {
  opacity: 1;
  transition-duration: .4s;
  color: #333;
}
.BtnWsp:hover {
  color: #333;
  width: 110px;
  transition-duration: .4s;
  border-radius: 30px;
}
.redesSociales{
  display: flex;
  flex-direction: row;
}

.card:hover{
  box-shadow: 1px 1rem 1rem #fa725a
}

/* botonera productos */
/* Estilos de la lista de productos */
.product-list {
  width: 100%;
  padding-left: 6rem;
  
}

#productos {
  display: flex;
  flex-wrap: wrap;
  align-items: normal;
}

section div button {
  background-color: white;
  color: black;
  border-radius: 10em;
  font-size: 17px;
  font-weight: 600;
  padding: 1em 2em;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 1px solid black;
  box-shadow: 0 0 0 0 black;
}

section div button:hover {
  transform: translateY(-4px) translateX(-2px);
  box-shadow: 2px 5px 0 0 black;
};

section div button:active {
  transform: translateY(2px) translateX(1px);
  box-shadow: 0 0 0 0 rgb(224, 146, 20);
};

section{
  width: 100%;
}

.botoneraFiltros{
  width: 15%;
  flex-direction: column;
}


.botoneraFiltros button {
  margin: 1rem;
}

.sectionFiltros{
  display: flex;
  padding-top:2rem;
  padding-right: 1rem;  
  padding-left: 10rem;
  padding-bottom: 8rem;
   
}